@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --body-bg: #f6f8ff;
    --text-color-one: #4b6a9b;
    --text-color-two: #222731;
    --theme-toggle-hover-color: #222731;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark {
    --body-bg: #141d2f;
    --text-color-one: #fff;
    --text-color-two: #fff;
    --theme-toggle-hover-color: #90a4d4;
}

.App {
    height: 100vh;
    font-family: "Space Mono", monospace;
    background-color: var(--body-bg);
    padding: 31px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex: 1;
    max-width: 500px;
}

@media(min-width: 768px) {
    .App {
        padding: 31px 98px;
    }

    .container {
        max-width: 730px;
    }
}